<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load staticfiles %}
<title>Forget Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}">

<script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>
</head>
<body>
<div class="container">
<div class="row">
<div class="span8">
<form class="form-horizontal" id="passwordForm" method='post' action='/get_password/'>{% csrf_token %}
<fieldset>

<legend>What's my password?</legend>

<div class="control-group">
<label class="control-label">Email</label>
<div class="controls">
<input type="email" class="input-xlarge" id="email" name="email" required rel="popover" data-content="What’s your email address?" data-original-title="Email">
</div>
</div>


<div class="control-group">
<label class="control-label"></label>
<div class="controls">
<button type="submit" class="btn btn-success" >Email My Password</button>
</div>
</div>

<div class="control-group">
<label class="control-label"></label>
<div id="result" class="controls">
</div>
</div>

</fieldset>
</form>
</div>
</div>
</div>

<script>
/* attach a submit handler to the form */
$("#passwordForm").submit(function(event) {
 
  /* stop form from submitting normally */
  event.preventDefault();
  $.post("/get_password/", $("#passwordForm").serialize(),function(data) {
	  var success = data.success;
	  if (success == "OK"){
		  $( "#result" ).addClass( "alert alert-success" );
	  } else {
		  $( "#result" ).addClass( "alert alert-warning" );
	  }
	  
	  $('#result').html(data.message);
	});

});
</script>
</body>
</html>