<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  {% load i18n %}
  
  <title>{% trans "index_title" %}</title>
  <link rel="stylesheet" href="../static/css/bitcoin.css" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.css" />
  
  <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>  
  <script src="http://localhost/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../static/js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/handlebars.js"></script>
  <script type="text/javascript" src="../static/js/underscore-min.js"></script>
  <script type="text/javascript" src="../static/js/moment.min.js"></script>
  
<script type="text/javascript">
var refresh_markets = function(){
	$.getJSON('/markets/', function(data) {
  		//console.log(data);
  		var source   = $("#live_trades").html();
        //console.log(source);
        var template = Handlebars.compile(source);
        //var context = {current: "11111"}
        var html    = template(data);
        //console.log(html);
    	$('#trades').html(html);
  	});
}

docReady( function() {
	  var container = document.querySelector('#basic');
	  var msnry = new Masonry( container, {
		  columnWidth: 5,
		  itemSelector: '.item'
	  });
	});
	
$(function() {    
    //websocket part!
    var socket = io.connect('http://localhost:80');
    socket.on('news', function (data) {
      console.log("new received*****************");
      
      if (!_.isObject(data) && typeof data.replace === 'function'){
    	  refresh_markets();	  	
    	}    

  	  });    
        
	
    refresh_markets();
  	
});
</script>

<script id="live_trades" type="text/x-handlebars-template">
{% verbatim %}
  <table class="table">
    <thead>
      <th>市场名称</th>
      <th>最新成交价</th>
      <th>最高价</th>
	  <th>最低价</th>
	  <th>成交量</th>
    </thead>
    <tbody>
      {{#each []}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.last}}</td>
          <td>{{this.high}}</td>
		  <td>{{this.low}}</td>
		  <td>{{this.vol}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endverbatim %}
</script>
</head>
<body>
  <div id="basic" class="container2">
  {% verbatim %}
  	<div id="summary" class="item w4 h2">  
  	比特币市场实时行情			
  	<input type='text' id="ma3" placeholder="用户名"/>
  	<input type='text' id="ma3" placeholder="密码"/>	
  	<button id="login" type="button" class="btn btn-primary" data-toggle="button">登录</button>
  	<a id="register" href="#">立即注册</a>
  	<a id="register" href="#">中文</a>
  	<a id="register" href="#">英文</a>
  	</div>
  	{% endverbatim %} 	 	        
    	
    <div id="trades" class="item w4 h6">最新成交记录</div>
</div>

</body>
</html>
