<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  
  <title>Market Dashboard</title>
  <link rel="stylesheet" href="{% static "css/bitcoin.css" %}"/>
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}" />
  <link rel='stylesheet' href="{% static "css/spectrum.css" %}"/>
  
  <script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>
  <script src="http://localhost/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="{% static "js/masonry.pkgd.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/handlebars.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/spectrum.js" %}"></script>
  <script type="text/javascript" src="{% static "js/highstock.js" %}"></script>
  <script type="text/javascript" src="{% static "js/exporting.js" %}"></script>
  <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
  
<script type="text/javascript">
//console.log('{{market}}')
var show_chart = function(time_period){
	$.getJSON('/ohlc/',{ period: time_period}, function(data) {
		//console.log(data);
		var json = JSON.parse(data);
		//console.log(json);
		// split the data set into ohlc and volume
		var ohlc = [],
			volume = [],
			ma5 = [],
			ma10 = [],
			ma20 = [],
			ma30 = [],
			macd = [],
			dea = [],
			dif = [],			
			dataLength = data.length;
			
		for (i = 0; i < dataLength; i++) {
			if (_.isUndefined(json[i])){
				break;
			}
			console.log(json[i])
			var time = moment(json[i].time, "YYYY-MM-DDTHH:mm:ss")._d.getTime();

			ohlc.push([
				time,
				//json[i].time, // the date
				json[i].open, // open
				json[i].high, // high
				json[i].low, // low
				json[i].close // close
			]);			
			
			ma5.push([
				time,
				//json[i].time, // the date
				json[i].MA_5 // MA
			]);
			
			ma10.push([
			    time,
				//json[i].time, // the date
				json[i].MA_10 // MA
			]);
			
			ma20.push([
			    time,
				//json[i].time, // the date
				json[i].MA_20 // MA
			]);
			
			ma30.push([
				time,
				//json[i].time, // the date
				json[i].MA_30 // MA
			]);
						
			volume.push([
				time,
				//json[i].time, // the date
				json[i].amount // the volume
			]);
			
			macd.push([
				time,
				//json[i].time, // the date
				json[i].MACD_12_26 // MACD
			]);
			
			dea.push([
				time,
				//json[i].time, // the date
				json[i].MACDsign_12_26 // MACD DEA
			]);
			
			dif.push([
				time,
				//json[i].time, // the date
				json[i].MACDdiff_12_26 // MACD DIF
			]);
		}
		
		// set the allowed units for data grouping
		var groupingUnits = [[
			'day',                         // unit name:day,week
			[1]                             // allowed multiples
		], [
			'month',
			[1, 2, 3, 4, 6]
		]];

		// create the chart
		$('#chart').highcharts('StockChart', {
			chart:{
				backgroundColor:'#FCFFC5'
			},
			exporting: {
	            enabled: false,
	        },
			tooltip: {
		    	valueDecimals: 2,	
		    	crosshairs: [true, true],
		    	//positioner: function () {
	            	//return { x: 50, y: 30 };
	            //},
	            //formatter: function() {
	               // var s = '';
	                //console.log(this.points);
	               // $.each(this.points, function(i, point) {
	                //    s +=  point.series.name +': '+
	                  //      point.y +': '+
	                    //    point.open +': '+
	                      //  point.high +': '+
	                        //point.low +'m';
	                //});
	                
	                //return s;
	            //},
		    },
			navigator: {
				enabled: false
			},
			
			scrollbar: {
				enabled: false
			},
		    
		    rangeSelector: {
		    	enabled: true,
		    	
		    },

		    title: {
		        text: 'Bitcoin Graph',
		        margin: 30,
		    },

		    yAxis: [{
		        title: {
		            text: 'Price'
		        },
		        height: 200,
		        lineWidth: 2
		    }, {
		        title: {
		            text: 'Volume'
		        },
		        top: 300,
		        height: 100,
		        offset: 0,
		        lineWidth: 2
		    },{		  
				title: {
					text: 'Indicator'
				},
		        top: 400,			
		        height: 50,
		        offset: 0,
		        lineWidth: 2,
		    }],
		    
		    series: [{
		        type: 'candlestick',
		        name: 'AAPL',
		        data: ohlc,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'column',
		        name: 'Volume',
		        data: volume,
		        yAxis: 1,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'MA5',
		        data: ma5,
		        dataGrouping: {
					units: groupingUnits
		        }
		    },{
		        type: 'line',
		        name: 'MA10',
		        data: ma10,
		        dataGrouping: {
					units: groupingUnits
		        }
		    },{
		        type: 'line',
		        name: 'MA20',
		        data: ma20,
		        dataGrouping: {
					units: groupingUnits
		        }
		    },{
		        type: 'line',
		        name: 'MA30',
		        data: ma30,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'column',
		        name: 'MACD',
		        data: macd,
		        yAxis: 2,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'DEA',
		        data: dea,
		        yAxis: 2,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'DIF',
		        data: dif,
		        yAxis: 2,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }]
		});
	});
}
docReady( function() {
	  var container = document.querySelector('#basic');
	  var msnry = new Masonry( container, {
		  columnWidth: 5,
		  itemSelector: '.item'
	  });
	});
	
$(function() {
	var jsonUrl = "{% static sample.json%}"
	//$.getJSON(jsonUrl+'sample.json', function(data) {
		
	//$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-ohlcv.json&callback=?', function(data) {
	$.getJSON('/ohlc/', function(data) {
		//console.log(data);
		var json = JSON.parse(data);
		//var json = data;
		//console.log(json);
		// split the data set into ohlc and volume
		var ohlc = [],
			volume = [],
			ma7 = [],
			ma14 = [],
			dataLength = data.length;
			
		for (i = 0; i < dataLength; i++) {
			if (_.isUndefined(json[i])){
				break;
			}
			//console.log(json[i])
			var time = moment(json[i].time, "YYYY-MM-DDTHH:mm:ss")._d.getTime();
			ohlc.push([
			    time,
				//json[i].time, // the date
				json[i].open, // open
				json[i].high, // high
				json[i].low, // low
				json[i].close // close
			]);	
			
			//ohlc.push([
				//		data[i][0], // the date
					//	data[i][1], // open
						//data[i][2], // high
						//data[i][3], // low
						//data[i][4] // close
					//]);
			
			
		}

		// set the allowed units for data grouping
		var groupingUnits = [[
			'week',                         // unit name:day,week
			[1]                             // allowed multiples
		], [
			'month',
			[1, 2, 3, 4, 6]
		]];

		// create the chart
		$('#chart').highcharts('StockChart', {
			chart:{
				backgroundColor:'#FCFFC5'
			},
			tooltip: {
		    	valueDecimals: 2,		    	
		    },
			navigator: {
				enabled: false
			},
			
			scrollbar: {
				enabled: false
			},
		    
		    rangeSelector: {
		    	buttons: [{
		            type: 'minute',
		            count: 1,
		            text: '1min'
		        }, {
		            type: 'day',
		            count: 1,
		            text: '3d'
		        }, {
		            type: 'week',
		            count: 1,
		            text: '1w'
		        }, {
		            type: 'month',
		            count: 1,
		            text: '1m'
		        }, {
		            type: 'month',
		            count: 6,
		            text: '6m'
		        }, {
		            type: 'year',
		            count: 1,
		            text: '1y'
		        }, {
		            type: 'all',
		            text: 'All'
		        }],
		        selected: 6
		    },

		    title: {
		        text: 'Bitcoin Graph'
		    },

		    yAxis: [{
		        title: {
		            text: 'Price'
		        },
		        height: 200,
		        lineWidth: 2
		    }, {
		        title: {
		            text: 'Volume'
		        },
		        top: 300,
		        height: 100,
		        offset: 0,
		        lineWidth: 2
		    },{		  
				title: {
					text: 'MACD'
				},
		        top: 400,			
		        height: 50,
		        offset: 0,
		        lineWidth: 2
		    }],
		    
		    series: [{
		        type: 'candlestick',
		        name: 'AAPL',
		        data: ohlc,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'column',
		        name: 'Volume',
		        data: volume,
		        yAxis: 1,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'MA7',
		        data: ma7,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'DEA',
		        data: ma7,
		        yAxis: 2,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }, {
		        type: 'line',
		        name: 'DIF',
		        data: ma14,
		        yAxis: 2,
		        dataGrouping: {
					units: groupingUnits
		        }
		    }]
		});
	});
	
	$('.dropdown-toggle').dropdown();
	$('.dropdown input, .dropdown label').click(function(e) {
	    e.stopPropagation();
	  });
	
	
	//show/hide MA indicator
	$('#showMa').click(function(){
		var chart = $('#chart').highcharts();
        var	series = chart.series;
        _.each(series, function(item){
        	if (_.isString(item.name) && item.name.indexOf("MA")!= -1){
        		if (!item.visible) {	
            		item.show();
            	}
        	}        	
       });	
	})
	
	$('#hideMa').click(function(){
		var chart = $('#chart').highcharts();
        var	series = chart.series;
        _.each(series, function(item){
        	if (_.isString(item.name) && item.name.indexOf("MA")!= -1){
        		if (item.visible) {	
            		item.hide();
            	}
        	}        	
       });		
	})
	
	$('#hideIndicator').click(function(){
		var chart = $('#chart').highcharts();
        var	series = chart.series;
        _.each(series, function(item){
        	if (_.isString(item.name) && item.visible){
        		if (item.name.indexOf("MACD")!=-1 ||item.name.indexOf("DEA")!=-1 ||item.name.indexOf("DIF")!=-1){        			
                		item.hide();                
        		}        	
        		
        	}        	
       });
        chart.yAxis[2].update({
            labels: {
                enabled: false
            },
            title: {
                text: null
            }
        });
    });
	
	$('#showMacd').click(function(){
		var chart = $('#chart').highcharts();
        var	series = chart.series;
        _.each(series, function(item){
        	if (_.isString(item.name) && !item.visible){
        		if (item.name.indexOf("MACD")!=-1 ||item.name.indexOf("DEA")!=-1 ||item.name.indexOf("DIF")!=-1){        			
                		item.show();                
        		}        	
        		
        	}        	
       });
    });
	
	$("#chartBackColor").spectrum({
		preferredFormat: "hex",
		showInput: true,
		change: function(color) {
	    	var chart = $('#chart').highcharts();
	    	console.log(chart.options.chart.backgroundColor);
	    	//console.log(color.toHexString());
	    	chart.chartBackground.css({
                color: color.toHexString(),
                fontSize: '16px'
            });
	    },
	});
	
	//var audio = $('#audio');
	//audio.get(0).play();
	//audio.trigger('play'); also works!
	//http://www.uscis.gov/files/nativedocuments/Track%2093.mp3
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', 'http://www.uscis.gov/files/nativedocuments/Track%2093.mp3');
    //audioElement.setAttribute('autoplay', 'autoplay'); must enable autoplay to play immediately!
    //audioElement.load()
    $.get();
    audioElement.addEventListener("load", function() {
    audioElement.play();
    }, true);




    $('.play').click(function() {
    audioElement.play();
    });


    $('.pause').click(function() {
    audioElement.pause();
    });
    
    //websocket part!
    var socket = io.connect('http://localhost:80');
    socket.on('news', function (data) {
      var livePrice = JSON.parse(data);
      //console.log(livePrice);
      console.log(livePrice.market+" live price received*****************");
      
      if (!_.isObject(data) && typeof data.replace === 'function'){
	      var livePrice = JSON.parse(data);

	      if (livePrice.market == '{{market}}'){
		      if (livePrice.last>={{alert.high}} || livePrice.last<={{alert.low}}){
		    	  console.log('raise alert**************');
		    	  //trigger sound
		    	  var audio = $('#audio');
		    	  //audio.get(0).play(); also works
		    	  audio.trigger('play');
		      }
		      var source   = $("#live_price").html();
		      //console.log(source);
		      var template = Handlebars.compile(source);
		      //var context = {current: "11111"}
		      var html    = template(livePrice);
		     // console.log(html);
		  	  $('#summary').html(html);	
	      }  	
    	}      
      
  	  }); 
    
    socket.on('trades', function (data) {
    	//console.log(data);
      	var liveTrades = JSON.parse(data);    
    	console.log(liveTrades.market+" trades received*****************");
	    //console.log('{{market}}');
  	    //console.log(liveTrades.data);
        //console.log(liveTrades.market == '{{market}}');
        if (!_.isObject(data) && typeof data.replace === 'function'){ 	      
  	      if (liveTrades.market == '{{market}}'){
  	  	      var source   = $("#live_trades").html();
  	  	      //console.log(source);
  	  	      Handlebars.registerHelper('timestamp', function() {  	      
  				  return new Handlebars.SafeString(					  
  						  moment.unix(this.time).format('YYYY-M-D, h:mm:ss a')
  				  );
  			 });
  	  	      var template = Handlebars.compile(source);
  	  	      var context = [{"price": "0.1154", "type": "buy", "amount": "10", "time": 1378606847}]
  	  	      
  	  	      var html    = template(JSON.parse(liveTrades.data));
  	  	  //var html    = template(context);
  	  	      //console.log(liveTrades.data);
  	  	      //console.log(_.isArray(liveTrades.data))
  	  	      //console.log(html);
  	  	  	  $('#trades').html(html); 
  	      }
      }             
    }); 
    
    socket.on('asks', function (data) {
    	console.log("asks received*****************");
        //console.log(data);
        //console.log(_.isObject(data));
        
        if (!_.isObject(data) && typeof data.replace === 'function'){
      	  //replace ' with "          
  	      //var b = data.replace(/'/g, '"');
  	      //console.log(b);
  	      //jQuery.parseJSON('{"name":"John"}');
  	      var liveAsks = JSON.parse(data);
  	      console.log(liveAsks);
  	      //console.log(liveAsks.market == '{{market}}');
  	      //console.log(obj.sell);
  	      if (liveAsks.market == '{{market}}'){
  	  	      var source   = $("#asksTemplate").html();
  	  	      //console.log(source);
  	  	      var template = Handlebars.compile(source);
  	  	      //var context = {current: "11111"}
  	  	      var html    = template(JSON.parse(liveAsks.data));
  	  	      //console.log(html);
  	  	  	  $('#asks').html(html);
  	      }
      }             
    }); 
    
    
    socket.on('bids', function (data) {
    	console.log("bids received*****************");
        //console.log(data);
        //console.log(_.isObject(data));
        
        if (!_.isObject(data) && typeof data.replace === 'function'){
      	  //replace ' with "          
  	      //var b = data.replace(/'/g, '"');
  	      //console.log(b);
  	      //jQuery.parseJSON('{"name":"John"}');
  	      var liveBids = JSON.parse(data);
	  	  if (liveBids.market == '{{market}}'){
	  	      //console.log(liveBids);
	  	      //console.log(obj.sell);
	  	      var source   = $("#bidsTemplate").html();
	  	      //console.log(source);
	  	      var template = Handlebars.compile(source);
	  	      //var context = {current: "11111"}
	  	      var html    = template(JSON.parse(liveBids.data));
	  	      //console.log(html);
	  	  	  $('#bids').html(html);
	  	  }
      }             
    }); 
    
    
    //Change Alert Setting
    $('#high').val({{alert.high}});
    $('#low').val({{alert.low}});    
    var update_alert = function(){
    	$.post("/update_alert/", { high: $('#high').val(),low: $('#low').val(),market:'{{market}}' });
    }
	$("#high").focusout(function() {
		update_alert();
	})
	$("#low").focusout(function() {
		update_alert();
	})
    
    //Change time period
    $('#m1').click(function(){
    	show_chart('1Min');
    });
    
	$('#m15').click(function(){
		show_chart('15Min');
    });
	
	$('#h6').click(function(){
		show_chart('6H');
    });
	
	$('#d1').click(function(){
		show_chart('D');
    });
	
	$('#w1').click(function(){
		show_chart('W');
    });
	
	$("#ma1").focusout(function() {
		console.log($(this).val());
	})
});
</script>
<script id="live_price" type="text/x-handlebars-template">
{% verbatim %}
  最新价：{{last}}&nbsp;&nbsp;&nbsp;&nbsp;最高价：{{high}} 最低价：{{low}}  成交量：{{vol}}
{% endverbatim %}
</script>
<script id="live_trades" type="text/x-handlebars-template">
{% verbatim %}
  <table class="table">
    <thead>
      <th>时间</th>
      <th>价格</th>
      <th>类型</th>
	  <th>数量</th>
    </thead>
    <tbody>
      {{#each []}}
        <tr>
          <td>{{timestamp}}</td>
          <td>{{this.price}}</td>
          <td>{{this.type}}</td>
		  <td>{{this.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endverbatim %}
</script>
<script id="asksTemplate" type="text/x-handlebars-template">
{% verbatim %}
  <table id="asks" class="table">
    <thead>
      <th>卖出价格</th>
      <th>数量</th>
      <th>累积量</th>	  
    </thead>
    <tbody>
      {{#each []}}
        <tr>
		{{#each []}}
          <td>{{this}}</td>
		{{/each}}          		  
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endverbatim %}
</script>
<script id="bidsTemplate" type="text/x-handlebars-template">
{% verbatim %}
  <table id="bids" class="table">
    <thead>
      <th>买入价格</th>
      <th>数量</th>
      <th>累积量</th>	  
    </thead>
    <tbody>
      {{#each []}}
        <tr>
		{{#each []}}
          <td>{{this}}</td>
		{{/each}}          		  
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endverbatim %}
</script>
</head>
<body>
  <div id="basic" class="container2">
  {% verbatim %}
  	<div id="summary" class="item w4 h2">  				
  	</div>
  	{% endverbatim %}
  	<div class="item w4 h3">  	
	  	<ul class="nav nav-pills">
	  	  <p class="navbar-text">Time Period:</p>
		  <li><a id="w1" href="#">1w</a></li>
		  <li><a id="d1" href="#">1d</a></li>
		  <li><a id="h6" href="#">6h</a></li>
		  <li><a id="m15" href="#">15m</a></li>
		  <li><a id="m1" href="#">1m</a></li>
		  <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Settings <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <table>
            <tr>
            <td>
              Main Indicator:
              </td>
              <td>
              <button id="showMa" type="button" class="btn btn-primary" data-toggle="button">MA</button>
              </td>
              <td>
              <button id="hideMa" type="button" class="btn btn-primary" data-toggle="button">None</button><br>
              </td>
              <tr>
              <td>
              Technical Indicator:
              </td>
              <td>
              <button id="showMacd" type="button" class="btn btn-primary" data-toggle="button">MACD</button>
              </td>
              <td>
              <button type="button" class="btn btn-primary" data-toggle="button">KDJ</button>
              </td>
              <td>
              <button id="hideIndicator" type="button" class="btn btn-primary" data-toggle="button">None</button><br>
              </td>
              <td>
              </tr>
              <tr>
              <td>
              Background Color:
              </td>
              <td>
              <input type='text' id="chartBackColor"/><br>
              </td>
              </tr>
              </table>              
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Parameters <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <table>
            <tr>
              <td>
                MA:
              </td>
              <td>
               <input type='text' id="ma1" style="width:20px" maxlength="3" value="5"/>
               </td>
               <td>
               <input type='text' id="ma2" style="width:20px" maxlength="3" value="10"/>
               </td>
               <td>
               <input type='text' id="ma3" style="width:20px" maxlength="3" value="20"/>
               </td>
               <td>
               <input type='text' id="ma4" style="width:20px" maxlength="3" value="30"/>
               </td>
               <td>
                <button id="maDefault" type="button" class="btn btn-primary" data-toggle="button">Default</button><br>
              </td>
              <tr>
              <tr>
              <td>
              MACD:
              </td>
              <td>
               <input type='text' id="short" style="width:20px" maxlength="3" value="12"/>
               </td>
               <td>
               <input type='text' id="long" style="width:20px" maxlength="3" value="26"/>
               </td>
               <td>
               <input type='text' id="mid" style="width:20px" maxlength="3" value="9"/>
               </td>
               <td>               
              <button id="macdDefault" type="button" class="btn btn-primary" data-toggle="button">Default</button><br>
              </td>
              </tr>
              <tr>
              <td>
              KDJ:
              </td>
              <td>
               <input type='text' id="n" style="width:20px" maxlength="3" value="9"/>
               </td>
               <td>
               <input type='text' id="m1" style="width:20px" maxlength="3" value="3"/>
               </td>
               <td>
               <input type='text' id="m2" style="width:20px" maxlength="3" value="3"/>
               </td>
               <td>               
              <button id="kdjDefault" type="button" class="btn btn-primary" data-toggle="button">Default</button><br>
              </td>
              </tr>
              </table>                           
            </div>
          </li>
		  <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Alerts <strong class="caret"></strong></a>
            <div class="dropdown-menu w6" style="padding: 15px; padding-bottom: 0px;">
              High Price:
              <input id="high" style="margin-bottom: 15px;" type="text" size="30"/><br>
              Low Price:
              <input id="low" style="margin-bottom: 15px;" type="text" size="30"/>                           
			</div>
          </li>
		</ul>
  	</div>
  	
    <div id="chart" class="item w5 h6">Chart</div>
    
    <div id="asks" class="item w2 h7 autoscroll">卖单</div>    
    
	<div id="bids" class="item w2 h7 autoscroll">买单</div>	
	
    <div id="trades" class="item w6 h8 autoscroll">最新成交记录</div>


   	<audio id="audio" >
        <source src="../static/alert.mp3" type="audio/mpeg"></source>
			Your browser does not support the audio element.
	</audio>
</div>


</body>
</html>
