<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load staticfiles %}
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
</head>
<body>
<div class="container">
<div class="row">
<div class="span8">
<form class="form-horizontal" id="registerHere" method='post' action='/register_submit/'>{% csrf_token %}
<fieldset>

<legend>Registration</legend>

<div class="control-group">
<label class="control-label">Name</label>
<div class="controls">
<input type="text" class="input-xlarge" id="username" name="username" required rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
</div>
</div>

<div class="control-group">
<label class="control-label">Password</label>
<div class="controls">
<input type="password" class="input-xlarge" id="password" name="password" required rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
</div>
</div>

<div class="control-group">
<label class="control-label">Confirm Password</label>
<div class="controls">
<input type="password" class="input-xlarge" id="confirm_password" name="confirm_password" required rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
</div>
</div>


<div class="control-group">
<label class="control-label">Email</label>
<div class="controls">
<input type="email" class="input-xlarge" id="email" name="email" required rel="popover" data-content="What’s your email address?" data-original-title="Email">
</div>
</div>

<div class="control-group">
<label class="control-label">QQ</label>
<div class="controls">
<input type="text" class="input-xlarge" id="qq"  name="qq" rel="popover" data-content="What’s your email address?" data-original-title="Email">
</div>
</div>

<div class="control-group">
<label class="control-label"></label>
<div class="controls">
<button type="submit" class="btn btn-success" >Create My Account</button>
</div>
</div>

</fieldset>
</form>
</div>
</div>
</div>
</body>
</html>